h1 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 40px 0 0 0;
}
.title-container {
  width: 200px;
}
h2 {
  font-size: 20px;
  margin: 50px 10px 30px 10px;
}
img {
  border-radius: 2px;
  width: 100px;
  height: 100px;
  margin: 25px 10px 10px 10px;
}
.container {
  width: 500px;
  height: 800px;
  background-color: #fff;
  color: #333;
  border-radius: 2px;
  border: none;
  margin: 50px auto;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn-container {
  display: flex;
  justify-content: center;
}

.btn-1 {
  width: 80px;
  height: 30px;
  color: #fff;
  background-color: skyblue;
  margin: 50px 10px 0 10px;
  border: none;
}
.btn-2 {
  width: 300px;
  height: 30px;
  color: #fff;
  background-color: skyblue;
  margin: 50px 0 30px 0;
  border: none;
}
